.section{
    display: flex;
    align-items: center;
    gap:14rem; 
    margin-left: 8rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family:  Arial, sans-serif;
}

.seleccion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    &__boletos{
        display: flex;
    }
    &__boletos__categoria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-right: 25rem;
        color: rgb(117, 117, 117);
        font-size: 13px;
        font-weight: bolder;
    }
    &__boletos__precio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        color: rgb(84, 84, 84);
        margin-right: 2rem;
        font-size: 13px;
        font-weight: bolder;
    }
    &__boletos__cantidad{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.compra{
    border: none;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
    width: 35%;
    padding: 1.5rem;
    margin-top: 3rem;
    
    .compra__img{
        width: 90px;
    }

    &__titulo{
        color: rgb(63, 63, 63);
    }

    &__article{
        display: flex; 
        gap:2rem;
        height: 10rem
    }
    &__figure{
        width: 22%;
       
    }
    &__funcion{
        display: flex;
        flex-direction: column;
    }

    &__span{
        color:rgb(114, 114, 114); 
    }
    &__divTotal{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-right: 3rem;
    }
    &__total{
        font-weight: bolder;
        color: rgb(79, 79, 79);
    }
    &__valor{
        font-size: 24px;
        font-weight: bolder;
        color: rgb(79, 79, 79);
    }

    &__boton{
        height: 3rem;
        border-radius: 20px;
        border: none;
        background-color: rgb(186, 186, 186);
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }

}

@media (max-width: 500px){

    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:3rem; 
        margin-left: 1rem;
        width: 100%;
    }
    
    .seleccion{
        margin-top: 2rem;
        
        &__boletos{
            display: flex;
        }
        &__boletos__categoria{
         
            margin-right: 15rem;
            color: rgb(117, 117, 117);
            font-size: 14px;
            font-weight: bolder;
        }
        &__boletos__precio{
           
            font-size: 14px;
            font-weight: bolder;
        }
        &__boletos__cantidad{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
    
    .compra{
        border: none;
        border-radius: 20px;
        background-color: rgb(238, 238, 238);
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 2rem;
        width: 80%;
        padding: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        
        .compra__img{
            width: 90px;
        }
    
        &__titulo{
            color: rgb(63, 63, 63);
        }
    
        &__article{
            display: flex; 
            gap:2rem;
            height: 10rem
        }
        &__figure{
            width: 22%;
           
        }
        &__funcion{
            display: flex;
            flex-direction: column;
        }
    
        &__span{
            color:rgb(114, 114, 114); 
        }
        &__divTotal{
            display: flex;
            justify-content: space-between; 
            align-items: center;
            margin-right: 3rem;
        }
        &__total{
            font-weight: bolder;
            color: rgb(79, 79, 79);
        }
        &__valor{
            font-size: 24px;
            font-weight: bolder;
            color: rgb(79, 79, 79);
        }
    
        &__boton{
            height: 3rem;
            border-radius: 20px;
            border: none;
            background-color: rgb(186, 186, 186);
            color: white;
            font-weight: bolder;
            cursor: pointer;
        }
    
    }
    
    

}